/*.*
!.gitignore
!README.md
/admin/*
!/admin/

/admin/controller/*
!/admin/controller/
/admin/controller/common/*
!/admin/controller/common/
!/admin/controller/common/xd_gallery_filemanager.php
/admin/controller/extension/*
!/admin/controller/extension/
/admin/controller/extension/module/*
!/admin/controller/extension/module/
!/admin/controller/extension/module/xd_gallery_album.php
!/admin/controller/extension/module/xd_gallery_manager.php
!/admin/controller/extension/module/xd_gallery_video.php
!/admin/controller/xd_gallery/
!/admin/controller/xd_gallery/*

/admin/language/*
!/admin/language/
/admin/language/en-gb/*
!/admin/language/en-gb/
/admin/language/en-gb/common/*
!/admin/language/en-gb/common/
!/admin/language/en-gb/common/xd_gallery_filemanager.php
/admin/language/en-gb/extension/*
!/admin/language/en-gb/extension/
/admin/language/en-gb/extension/module/*
!/admin/language/en-gb/extension/module/
!/admin/language/en-gb/extension/module/xd_gallery_album.php
!/admin/language/en-gb/extension/module/xd_gallery_manager.php
!/admin/language/en-gb/extension/module/xd_gallery_video.php
!/admin/language/en-gb/xd_gallery/
!/admin/language/en-gb/xd_gallery/*

/admin/language/ru-ru/*
!/admin/language/ru-ru/
/admin/language/ru-ru/common/*
!/admin/language/ru-ru/common/
!/admin/language/ru-ru/common/xd_gallery_filemanager.php
/admin/language/ru-ru/extension/*
!/admin/language/ru-ru/extension/
/admin/language/ru-ru/extension/module/*
!/admin/language/ru-ru/extension/module/
!/admin/language/ru-ru/extension/module/xd_gallery_album.php
!/admin/language/ru-ru/extension/module/xd_gallery_manager.php
!/admin/language/ru-ru/extension/module/xd_gallery_video.php
!/admin/language/ru-ru/xd_gallery/
!/admin/language/ru-ru/xd_gallery/*


/admin/model/*
!/admin/model/
!/admin/model/xd_gallery/
!/admin/model/xd_gallery/*


/admin/view/*
!/admin/view/

/admin/view/javascript/*
!/admin/view/javascript/
/admin/view/javascript/jquery/*
!/admin/view/javascript/jquery/
!/admin/view/javascript/jquery/fileupload/
!/admin/view/javascript/jquery/fileupload/*

/admin/view/template/*
!/admin/view/template/
/admin/view/template/common/*
!/admin/view/template/common/
!/admin/view/template/common/xd_gallery_filemanager.twig
/admin/view/template/extension/*
!/admin/view/template/extension/
/admin/view/template/extension/module/*
!/admin/view/template/extension/module/
!/admin/view/template/extension/module/xd_gallery_album.twig
!/admin/view/template/extension/module/xd_gallery_manager.twig
!/admin/view/template/extension/module/xd_gallery_video.twig
!/admin/view/template/xd_gallery/
!/admin/view/template/xd_gallery/*



/catalog/*
!/catalog/

/catalog/controller/*
!/catalog/controller/
/catalog/controller/extension/*
!/catalog/controller/extension/
/catalog/controller/extension/module/*
!/catalog/controller/extension/module/
!/catalog/controller/extension/module/xd_gallery_album.php
!/catalog/controller/extension/module/xd_gallery_video.php

!/catalog/controller/xd_gallery/
!/catalog/controller/xd_gallery/*

/catalog/language/*
!/catalog/language/

/catalog/language/en-gb/*
!/catalog/language/en-gb/
/catalog/language/en-gb/extension/*
!/catalog/language/en-gb/extension/
/catalog/language/en-gb/extension/module/*
!/catalog/language/en-gb/extension/module/
!/catalog/language/en-gb/extension/module/xd_gallery_album.php
!/catalog/language/en-gb/extension/module/xd_gallery_video.php

!/catalog/language/en-gb/xd_gallery/
!/catalog/language/en-gb/xd_gallery/*



/catalog/language/ru-ru/*
!/catalog/language/ru-ru/
/catalog/language/ru-ru/extension/*
!/catalog/language/ru-ru/extension/
/catalog/language/ru-ru/extension/module/*
!/catalog/language/ru-ru/extension/module/
!/catalog/language/ru-ru/extension/module/xd_gallery_album.php
!/catalog/language/ru-ru/extension/module/xd_gallery_video.php

!/catalog/language/ru-ru/xd_gallery/
!/catalog/language/ru-ru/xd_gallery/*

/catalog/model/*
!/catalog/model/
!/catalog/model/xd_gallery/
!/catalog/model/xd_gallery/*

/catalog/view/*
!/catalog/view/
/catalog/view/theme/*
!/catalog/view/theme/
/catalog/view/theme/default/*
!/catalog/view/theme/default/
/catalog/view/theme/default/image/*
!/catalog/view/theme/default/image/
!/catalog/view/theme/default/image/xd_gallery/
!/catalog/view/theme/default/image/xd_gallery/*

/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/
/catalog/view/theme/default/template/extension/*
!/catalog/view/theme/default/template/extension/
/catalog/view/theme/default/template/extension/module/*
!/catalog/view/theme/default/template/extension/module/
!/catalog/view/theme/default/template/extension/module/xd_gallery_album.twig
!/catalog/view/theme/default/template/extension/module/xd_gallery_video.twig

!/catalog/view/theme/default/template/xd_gallery/*
!/catalog/view/theme/default/template/xd_gallery/

/catalog/view/theme/default/stylesheet/*
!/catalog/view/theme/default/stylesheet/
!/catalog/view/theme/default/stylesheet/xd_gallery.css


/system/*
!/system/
!/system/xd_gallery.ocmod.xml
/system/library/*
!/system/library/
!/system/library/multifileupload.php


/image/
/install/
/storage/